.bluebg {
background-color: rgb(0, 128, 230);
margin-left: 0px;
margin-top: 100px;
width: 800px;
height: 500px;
position: absolute;
}

.yellowbg {
background-color: rgb(255, 204, 51);
margin-left: 0px;
margin-top: px;
width: px;
height: px;
position: absolute;




}